<div class="container">
    <div class="row">
        <div class="col-md-8">
          <h1 class="title-dashboard">Contato</h1>
        </div>
    </div>
    
    <hr />

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 mb-2">
            <a href="mailto:heytorvas@gmail.com" target="_blank">
                <img class="contact-icon" src="../../../assets/contact/gmail.png" />
            </a>
        </div>
        <div class="col-md-2 mb-2">
            <a href="https://www.linkedin.com/in/heytorvictor" target="_blank">
                <img class="contact-icon" src="../../../assets/contact/linkedin.png" />
            </a>
        </div>
        <div class="col-md-2 mb-2">
            <a href="https://www.github.com/heytorvas" target="_blank">
                <img class="contact-icon" src="../../../assets/contact/github.png" />
            </a>
        </div>
        <div class="col-md-2 mb-2">
            <a href="https://wa.me/556392808016" target="_blank">
                <img class="contact-icon" src="../../../assets/contact/whatsapp.png" />
            </a>
        </div>
        <div class="col-md-2 mb-2">
            <a href="https://t.me/heytor" target="_blank">
                <img class="contact-icon" src="../../../assets/contact/telegram.png" />
            </a>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>