mat-sidenav {
    width: 280px;
    padding: 15px;
}
.mat-drawer { 
    background-color: #7da87d;
    color: #fafafa;
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.title-sidenav {
    padding-left: 2%;;
}

body {
    background-color: #fafafa;
}

a.link-sidenav {
    color: #fff;
    text-decoration: none;
    font-size: x-large;
}

