.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

.update-time {
    text-align: right;
}

.local-flag {
    height: 50px;
    border-radius: 12px;
}

h1.title-dashboard {
    font-size: 40px;
    font-weight: 500;
}

h1.title-dashboard, .update-time {
    padding-top: 2%;
}

.text-card {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

p.content-card {
    padding-top: 4%;
    padding-bottom: 2%;
}

.card-icon {
    height: 25px;
}


.cases {
    background-color: #f5aa42;
}
.refuses {
    background-color: #76bf4e;
}
.actives {
    background-color: #dbe06c;
}
.deaths {
    background-color: #cc2732;
}