<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 class="title-dashboard">Brasil</h1>
    </div>
    <div class="col-md-4 update_time">
      <span>Atualizado em 14/01/2021 às 12h00.</span>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-6 mb-2">
      <mat-card class="mat-elevation-z4 text-card cases">
          <h1 class="title-card">Casos</h1>
          <p class="content-card">10000</p>
      </mat-card>
    </div>
    <div class="col-md-6 mb-2">
      <mat-card class="mat-elevation-z4 text-card recovered">
        <h1 class="title-card">Recuperados</h1>
        <p class="content-card">10000</p>
      </mat-card>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 mb-2">
      <mat-card class="mat-elevation-z4 text-card actives">
        <h1 class="title-card">Ativos</h1>
        <p class="content-card">10000</p>
      </mat-card>
    </div>

    <div class="col-md-6 mb-2">
      <mat-card class="mat-elevation-z4 text-card deaths">
        <h1 class="title-card">Mortes</h1>
        <p class="content-card">10000</p>
      </mat-card>
    </div>

  </div>
</div>