<div class="container">

  <div class="row">
    <div class="col-md-1">
      <img class="local-flag" src="../../../assets/flags/BR.png" />
    </div>
    <div class="col-md-7">
      <h1 class="title-dashboard">Brasil</h1>
    </div>
    <div class="col-md-4 update-time">
      <span>Atualizado em {{brazilCovid.updated_at | date: 'dd/MM/yyyy - hh:mm:ss a' }}</span>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-6 mb-2">
      <mat-card class="mat-elevation-z4 text-card cases">
          <h1 class="title-card">
            <img class="card-icon" src="../../../assets/icons/virus.png" />
            Casos
          </h1>
          <p class="content-card">{{brazilCovid.confirmed}}</p>
      </mat-card>
    </div>
    <div class="col-md-6 mb-2">
      <mat-card class="mat-elevation-z4 text-card recovered">
        <h1 class="title-card">
          <img class="card-icon" src="../../../assets/icons/check.png" />
          Recuperados
        </h1>
        <p class="content-card">{{brazilCovid.recovered}}</p>
      </mat-card>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 mb-2">
      <mat-card class="mat-elevation-z4 text-card actives">
        <h1 class="title-card">
          <img class="card-icon" src="../../../assets/icons/caution.png" />
          Ativos
        </h1>
        <p class="content-card">{{brazilCovid.cases}}</p>
      </mat-card>
    </div>

    <div class="col-md-6 mb-2">
      <mat-card class="mat-elevation-z4 text-card deaths">
        <h1 class="title-card">
          <img class="card-icon" src="../../../assets/icons/death.png" />
          Mortes
        </h1>
        <p class="content-card">{{brazilCovid.deaths}}</p>
      </mat-card>
    </div>

  </div>

</div>